@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Inter", sans-serif; /* Inter é a fonte padrao da plataforma */ 
}

:root {
    --navbar-color: #424242; 
  }
  
  .navbar {
    background-color: var(--navbar-color);
  }
  
  .sidebar {
    background-color: var(--navbar-color);
  }
  