:root {
    --background-primary: #eeeeee;
    --background-secondary: #dddddd;
    --background-navbar: #FFFFFF;
    --color-primary: #252525;

    --color-title: #002C6A;

    --text-color-sub: #808080;
    --text-color-link: #48A4D9;
    
  }

html {
    background-color: var(--background-primary)!important;
    color: var(--color-primary);
}

